body{
	background: url(images/img1.png) no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

.container{
	background-position: relative;
	margin-top: 0px;
	margin-bottom: 50px;
	width: 280px;	
	background: rgba(0,0,0,0.8);
}

div .col-md-8{
	background: rgba(255,255,255,0.5);
	margin-bottom: 5px;
	border-radius: 10px;
}

.bx-wrapper {
	width: 65%;
	height: 65%;

}
li{
	list-style: none;
}




